<h2><center>Method creation!</center></h2>

<% unless locals.empty? %>
  <%= message %>
<% end %>



<form action="/create" method="POST">
  <div class="form-group">
    <label for="Method Name:">Name your method</label><button><a href='/user_home'>Back</a></button>
    <input type="text" class="form-control" name="name" placeholder="My.Method">
  </div>
   <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Language</label>
 	 <select class="custom-select my-1 mr-sm-2" name="language">
    <option selected>Choose...</option>
    <option value="C">C</option>
    <option value="C++">C</option>
    <option value="C#">C</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Perl">Perl</option>
    <option value="Python">Python</option>
    <option value="Ruby">Ruby</option>

  </select>
  
  <div class="form-group">
    <label for="description">Description of the method</label>
    <textarea class="form-control" name="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="mephod[mephod_data]">The method's code</label>
    <textarea class="form-control" name="mephod_data" rows="15"></textarea>
  </div>
  <label><h4><center>Tags</center></h4></label><br>
    <% Tag.all.each do |tag| %>
      <div class="form-check form-check-inline">
      <label><%= tag.name %></label>
      <input class="form-check-input" type="checkbox" id="tag_<%=tag.id%>" name="<%= tag.name %>" value="<%= tag.name %>">
    	</div>
    <% end %>
	<input type="submit" value="submit">
</form>
