<div class="container-fluid"><h4><center><%= @mephod.mephodname %></center></h4> </div><br>
<p>Language: <%= @mephod.language %> <br>
<b>Description:</b> <br>
<%= @mephod.description %><br><br>
<b>Code:</b><br>
<%= @mephod.mephod_data %><br><br>
<b>Tags</b> <br>
<%= @mephod.tag%></p>

